@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -webkit-inline-flex;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #f8bd2d !important;
}
.bg-success {
  background-color: #f8bd2d !important;
}
.bg-info {
  background-color: #f8bd2d !important;
}
.bg-warning {
  background-color: #f8bd2d !important;
}
.bg-danger {
  background-color: #f8bd2d !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f8bd2d !important;
  border-color: #f8bd2d !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #d29707 !important;
  border-color: #d29707 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #d29707 !important;
  border-color: #d29707 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #f8bd2d !important;
  border-color: #f8bd2d !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #d29707 !important;
  border-color: #d29707 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #d29707 !important;
  border-color: #d29707 !important;
}
.btn-info,
.btn-info:active {
  background-color: #f8bd2d !important;
  border-color: #f8bd2d !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #d29707 !important;
  border-color: #d29707 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #d29707 !important;
  border-color: #d29707 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f8bd2d !important;
  border-color: #f8bd2d !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #d29707 !important;
  border-color: #d29707 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #d29707 !important;
  border-color: #d29707 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #f8bd2d !important;
  border-color: #f8bd2d !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #d29707 !important;
  border-color: #d29707 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #d29707 !important;
  border-color: #d29707 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #f8bd2d !important;
  border-color: #f8bd2d !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #d29707 !important;
  border-color: #d29707 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #d29707 !important;
  border-color: #d29707 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #b98506;
  color: #b98506;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #f8bd2d;
  border-color: #f8bd2d;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f8bd2d !important;
  border-color: #f8bd2d !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #b98506;
  color: #b98506;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #f8bd2d;
  border-color: #f8bd2d;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f8bd2d !important;
  border-color: #f8bd2d !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #b98506;
  color: #b98506;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #f8bd2d;
  border-color: #f8bd2d;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #f8bd2d !important;
  border-color: #f8bd2d !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #b98506;
  color: #b98506;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #f8bd2d;
  border-color: #f8bd2d;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f8bd2d !important;
  border-color: #f8bd2d !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #b98506;
  color: #b98506;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f8bd2d;
  border-color: #f8bd2d;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f8bd2d !important;
  border-color: #f8bd2d !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #b98506;
  color: #b98506;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f8bd2d;
  border-color: #f8bd2d;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f8bd2d !important;
  border-color: #f8bd2d !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #f8bd2d !important;
}
.text-secondary {
  color: #f8bd2d !important;
}
.text-success {
  color: #f8bd2d !important;
}
.text-info {
  color: #f8bd2d !important;
}
.text-warning {
  color: #f8bd2d !important;
}
.text-danger {
  color: #f8bd2d !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #b98506 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #b98506 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #b98506 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #b98506 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #b98506 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b98506 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #f8bd2d;
}
.alert-warning {
  background-color: #f8bd2d;
}
.alert-danger {
  background-color: #f8bd2d;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f8bd2d;
  border-color: #f8bd2d;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #f8bd2d;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fffbf2;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fffbf2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fffbf2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fffbf2;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fffbf2;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
  -webkit-transform: rotate(45deg);
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #f8bd2d;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
  -webkit-justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #f8bd2d;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #f8bd2d;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #f8bd2d;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #f8bd2d;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.offset-1 {
  margin-left: 8.33333%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333%;
}
.offset-5 {
  margin-left: 41.66667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333%;
}
.offset-8 {
  margin-left: 66.66667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333%;
}
.offset-11 {
  margin-left: 91.66667%;
}
@media (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}
@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: none;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1023px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1024px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}
.navbar-toggleable-xl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-toggleable-xl > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-toggleable-xl .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
.navbar-toggleable-xl > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-collapse {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}
.navbar-toggleable-xl .navbar-toggler {
  display: none;
}
.card-img {
  width: auto;
}
.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto!important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f8bd2d;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f8bd2d;
  border-bottom-color: #f8bd2d;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #f8bd2d !important;
  box-shadow: none!important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f8bd2d !important;
  box-shadow: none !important;
}
.cid-rE5v56QSO4 .navbar {
  padding: .5rem 0;
  background: #333333;
  transition: none;
  min-height: 77px;
}
.cid-rE5v56QSO4 .navbar-dropdown.bg-color.transparent.opened {
  background: #333333;
}
.cid-rE5v56QSO4 a {
  font-style: normal;
}
.cid-rE5v56QSO4 .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rE5v56QSO4 .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rE5v56QSO4 .nav-item:focus,
.cid-rE5v56QSO4 .nav-link:focus {
  outline: none;
}
.cid-rE5v56QSO4 .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rE5v56QSO4 .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rE5v56QSO4 .menu-logo {
  margin-right: auto;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rE5v56QSO4 .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rE5v56QSO4 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rE5v56QSO4 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rE5v56QSO4 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rE5v56QSO4 .dropdown .dropdown-menu {
  background: #333333;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rE5v56QSO4 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rE5v56QSO4 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rE5v56QSO4 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rE5v56QSO4 .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rE5v56QSO4 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rE5v56QSO4 .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rE5v56QSO4 .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rE5v56QSO4 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rE5v56QSO4 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rE5v56QSO4 .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rE5v56QSO4 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rE5v56QSO4 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rE5v56QSO4 button.navbar-toggler:focus {
  outline: none;
}
.cid-rE5v56QSO4 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rE5v56QSO4 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rE5v56QSO4 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rE5v56QSO4 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rE5v56QSO4 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rE5v56QSO4 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rE5v56QSO4 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rE5v56QSO4 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rE5v56QSO4 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rE5v56QSO4 .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rE5v56QSO4 .collapsed .btn {
  display: -webkit-flex;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse.collapsing,
.cid-rE5v56QSO4 .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rE5v56QSO4 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rE5v56QSO4 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rE5v56QSO4 .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rE5v56QSO4 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rE5v56QSO4 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rE5v56QSO4 .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rE5v56QSO4 .collapsed button.navbar-toggler {
  display: block;
}
.cid-rE5v56QSO4 .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rE5v56QSO4 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rE5v56QSO4 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rE5v56QSO4 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rE5v56QSO4 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rE5v56QSO4 .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rE5v56QSO4 .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rE5v56QSO4 img {
    height: 3.8rem !important;
  }
  .cid-rE5v56QSO4 .btn {
    display: -webkit-flex;
  }
  .cid-rE5v56QSO4 button.navbar-toggler {
    display: block;
  }
  .cid-rE5v56QSO4 .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rE5v56QSO4 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rE5v56QSO4 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rE5v56QSO4 .navbar-collapse.collapsing,
  .cid-rE5v56QSO4 .navbar-collapse.show {
    display: block !important;
  }
  .cid-rE5v56QSO4 .navbar-collapse.collapsing .navbar-nav,
  .cid-rE5v56QSO4 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rE5v56QSO4 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rE5v56QSO4 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rE5v56QSO4 .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rE5v56QSO4 .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rE5v56QSO4 .navbar-collapse.collapsing .navbar-buttons,
  .cid-rE5v56QSO4 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rE5v56QSO4 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rE5v56QSO4 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rE5v56QSO4 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rE5v56QSO4 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rE5v56QSO4 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rE5v56QSO4 .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rE5v56QSO4 .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rE5v56QSO4 .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rE5v56QSO4 .nav-link:hover,
.cid-rE5v56QSO4 .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-rE5Aop39wL {
  padding-top: 0px;
  padding-bottom: 75px;
  background-color: #8d0000;
}
.cid-rE5Aop39wL .mbr-section-text {
  color: #767676;
}
.cid-rE5Aop39wL .mbr-section-subtitle {
  color: #767676;
}
.cid-rE5Aop39wL .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rE5Aop39wL .mbr-iconfont {
  font-size: 48px;
}
.cid-rE5Aop39wL .card-img {
  margin-bottom: 1.5rem;
}
.cid-rE5Aop39wL .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rE5Aop39wL .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.cid-rE5Aop39wL .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.cid-rE5Aop39wL .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #ffffff;
}
.cid-rE5Aop39wL .nav-tabs .nav-link:hover {
  background: #c1c1c1;
}
.cid-rE5Aop39wL .nav-tabs .nav-link.active {
  color: #000000;
  font-style: normal;
  border: 2px solid #c1c1c1;
  background: #c1c1c1;
}
.cid-rE5Aop39wL .nav-tabs .nav-link.active:hover {
  border: 2px solid #c1c1c1;
}
.cid-rE5Aop39wL H4 {
  color: #ffffff;
}
.cid-rBUXgnzstX {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/plex-bg-1200x675.png");
}
.cid-rBUXgnzstX h2 {
  text-align: center;
}
.cid-rBUXgnzstX h3 {
  text-align: center;
  font-weight: 300;
}
.cid-rBUXgnzstX p {
  color: #767676;
}
.cid-rBUXgnzstX img {
  object-fit: cover;
}
.cid-rBUXgnzstX .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rBUXgnzstX .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-rBUXgnzstX .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
.cid-rBUXgnzstX .mbr-section-subtitle {
  color: #767676;
}
.cid-rBUXgnzstX .card-title {
  font-weight: 500;
}
.cid-rBUXgnzstX .card-img {
  text-align: inherit;
}
.cid-rBUXgnzstX .card-img span {
  font-size: 48px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-rBUXgnzstX .mbr-figure {
    padding-right: 2rem;
    padding-left: 2rem;
    height: 100%;
  }
}
@media (max-width: 991px) {
  .cid-rBUXgnzstX .mbr-figure {
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-rBUXgnzstX .block-content {
    flex-direction: row;
    -webkit-flex-direction: row;
    text-align: center;
  }
  .cid-rBUXgnzstX .block-content .card {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }
  .cid-rBUXgnzstX .card:nth-child(1) {
    padding-bottom: 0!important;
  }
}
.cid-rBUXgnzstX .mbr-section-text {
  color: #f8bd2d;
}
.cid-rBUXgnzstX .mbr-crt-title {
  color: #f8bd2d;
}
.cid-rE5v56QSO4 .navbar {
  padding: .5rem 0;
  background: #333333;
  transition: none;
  min-height: 77px;
}
.cid-rE5v56QSO4 .navbar-dropdown.bg-color.transparent.opened {
  background: #333333;
}
.cid-rE5v56QSO4 a {
  font-style: normal;
}
.cid-rE5v56QSO4 .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rE5v56QSO4 .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rE5v56QSO4 .nav-item:focus,
.cid-rE5v56QSO4 .nav-link:focus {
  outline: none;
}
.cid-rE5v56QSO4 .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rE5v56QSO4 .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rE5v56QSO4 .menu-logo {
  margin-right: auto;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rE5v56QSO4 .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rE5v56QSO4 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rE5v56QSO4 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rE5v56QSO4 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rE5v56QSO4 .dropdown .dropdown-menu {
  background: #333333;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rE5v56QSO4 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rE5v56QSO4 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rE5v56QSO4 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rE5v56QSO4 .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rE5v56QSO4 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rE5v56QSO4 .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rE5v56QSO4 .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rE5v56QSO4 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rE5v56QSO4 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rE5v56QSO4 .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rE5v56QSO4 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rE5v56QSO4 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rE5v56QSO4 button.navbar-toggler:focus {
  outline: none;
}
.cid-rE5v56QSO4 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rE5v56QSO4 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rE5v56QSO4 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rE5v56QSO4 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rE5v56QSO4 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rE5v56QSO4 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rE5v56QSO4 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rE5v56QSO4 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rE5v56QSO4 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rE5v56QSO4 .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rE5v56QSO4 .collapsed .btn {
  display: -webkit-flex;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse.collapsing,
.cid-rE5v56QSO4 .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rE5v56QSO4 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rE5v56QSO4 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rE5v56QSO4 .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rE5v56QSO4 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rE5v56QSO4 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rE5v56QSO4 .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rE5v56QSO4 .collapsed button.navbar-toggler {
  display: block;
}
.cid-rE5v56QSO4 .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rE5v56QSO4 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rE5v56QSO4 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rE5v56QSO4 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rE5v56QSO4 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rE5v56QSO4 .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rE5v56QSO4 .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rE5v56QSO4 img {
    height: 3.8rem !important;
  }
  .cid-rE5v56QSO4 .btn {
    display: -webkit-flex;
  }
  .cid-rE5v56QSO4 button.navbar-toggler {
    display: block;
  }
  .cid-rE5v56QSO4 .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rE5v56QSO4 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rE5v56QSO4 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rE5v56QSO4 .navbar-collapse.collapsing,
  .cid-rE5v56QSO4 .navbar-collapse.show {
    display: block !important;
  }
  .cid-rE5v56QSO4 .navbar-collapse.collapsing .navbar-nav,
  .cid-rE5v56QSO4 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rE5v56QSO4 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rE5v56QSO4 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rE5v56QSO4 .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rE5v56QSO4 .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rE5v56QSO4 .navbar-collapse.collapsing .navbar-buttons,
  .cid-rE5v56QSO4 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rE5v56QSO4 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rE5v56QSO4 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rE5v56QSO4 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rE5v56QSO4 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rE5v56QSO4 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rE5v56QSO4 .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rE5v56QSO4 .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rE5v56QSO4 .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rE5v56QSO4 .nav-link:hover,
.cid-rE5v56QSO4 .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-rBVGEqRzzI {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/top-915x356.png");
}
.cid-rBVGEqRzzI h1 {
  color: #616161;
}
.cid-rBVGEqRzzI h2,
.cid-rBVGEqRzzI h3,
.cid-rBVGEqRzzI p {
  color: #767676;
}
.cid-rBVGEqRzzI .mbr-section-subtitle {
  font-style: italic;
}
.cid-rBVGEseFjO {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/top-915x356.png");
}
.cid-rBVGEseFjO .mbr-section-subtitle {
  color: #767676;
}
.cid-rBVGEseFjO .container-table {
  margin: 0 auto;
}
.cid-rBVGEseFjO .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-rBVGEseFjO .dataTables_wrapper {
  display: block;
}
.cid-rBVGEseFjO .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-rBVGEseFjO .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-rBVGEseFjO table {
  width: 100% !important;
  margin-top: 6px;
  border: 1px solid #cccccc;
  margin-bottom: 0;
}
.cid-rBVGEseFjO table th {
  border-top: none;
  transition: all .2s;
  border-bottom: none;
}
.cid-rBVGEseFjO table th:hover {
  background: #cccccc;
  color: #000000;
}
.cid-rBVGEseFjO table td {
  border-top: 1px solid #cccccc;
}
.cid-rBVGEseFjO table.table {
  background: #797676;
}
.cid-rBVGEseFjO .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-rBVGEseFjO .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-rBVGEseFjO .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-rBVGEseFjO .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
}
@media (max-width: 992px) {
  .cid-rBVGEseFjO .dataTables_filter {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cid-rBVGEseFjO .dataTables_filter {
    text-align: center;
  }
  .cid-rBVGEseFjO .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.cid-rBVGEseFjO .mbr-section-title {
  color: #f8bd2d;
  text-align: left;
}
.cid-rBVGEubURK {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/top-915x356.png");
}
.cid-rBVGEubURK .mbr-section-subtitle {
  color: #767676;
}
.cid-rBVGEubURK .container-table {
  margin: 0 auto;
}
.cid-rBVGEubURK .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-rBVGEubURK .dataTables_wrapper {
  display: block;
}
.cid-rBVGEubURK .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-rBVGEubURK .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-rBVGEubURK table {
  width: 100% !important;
  margin-top: 6px;
  border: 1px solid #cccccc;
  margin-bottom: 0;
}
.cid-rBVGEubURK table th {
  border-top: none;
  transition: all .2s;
  border-bottom: none;
}
.cid-rBVGEubURK table th:hover {
  background: #cccccc;
  color: #000000;
}
.cid-rBVGEubURK table td {
  border-top: 1px solid #cccccc;
}
.cid-rBVGEubURK table.table {
  background: #797676;
}
.cid-rBVGEubURK .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-rBVGEubURK .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-rBVGEubURK .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-rBVGEubURK .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
}
@media (max-width: 992px) {
  .cid-rBVGEubURK .dataTables_filter {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cid-rBVGEubURK .dataTables_filter {
    text-align: center;
  }
  .cid-rBVGEubURK .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.cid-rBVGEubURK .mbr-section-title {
  color: #f8bd2d;
  text-align: left;
}
.cid-rE5v56QSO4 .navbar {
  padding: .5rem 0;
  background: #333333;
  transition: none;
  min-height: 77px;
}
.cid-rE5v56QSO4 .navbar-dropdown.bg-color.transparent.opened {
  background: #333333;
}
.cid-rE5v56QSO4 a {
  font-style: normal;
}
.cid-rE5v56QSO4 .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rE5v56QSO4 .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rE5v56QSO4 .nav-item:focus,
.cid-rE5v56QSO4 .nav-link:focus {
  outline: none;
}
.cid-rE5v56QSO4 .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rE5v56QSO4 .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rE5v56QSO4 .menu-logo {
  margin-right: auto;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rE5v56QSO4 .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rE5v56QSO4 .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rE5v56QSO4 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rE5v56QSO4 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rE5v56QSO4 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rE5v56QSO4 .dropdown .dropdown-menu {
  background: #333333;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rE5v56QSO4 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rE5v56QSO4 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rE5v56QSO4 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rE5v56QSO4 .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rE5v56QSO4 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rE5v56QSO4 .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rE5v56QSO4 .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rE5v56QSO4 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rE5v56QSO4 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rE5v56QSO4 .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rE5v56QSO4 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rE5v56QSO4 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rE5v56QSO4 button.navbar-toggler:focus {
  outline: none;
}
.cid-rE5v56QSO4 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rE5v56QSO4 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rE5v56QSO4 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rE5v56QSO4 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rE5v56QSO4 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rE5v56QSO4 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rE5v56QSO4 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rE5v56QSO4 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rE5v56QSO4 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rE5v56QSO4 .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rE5v56QSO4 .collapsed .btn {
  display: -webkit-flex;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse.collapsing,
.cid-rE5v56QSO4 .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rE5v56QSO4 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rE5v56QSO4 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rE5v56QSO4 .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rE5v56QSO4 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rE5v56QSO4 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rE5v56QSO4 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rE5v56QSO4 .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rE5v56QSO4 .collapsed button.navbar-toggler {
  display: block;
}
.cid-rE5v56QSO4 .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rE5v56QSO4 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rE5v56QSO4 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rE5v56QSO4 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rE5v56QSO4 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rE5v56QSO4 .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rE5v56QSO4 .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rE5v56QSO4 img {
    height: 3.8rem !important;
  }
  .cid-rE5v56QSO4 .btn {
    display: -webkit-flex;
  }
  .cid-rE5v56QSO4 button.navbar-toggler {
    display: block;
  }
  .cid-rE5v56QSO4 .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rE5v56QSO4 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rE5v56QSO4 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rE5v56QSO4 .navbar-collapse.collapsing,
  .cid-rE5v56QSO4 .navbar-collapse.show {
    display: block !important;
  }
  .cid-rE5v56QSO4 .navbar-collapse.collapsing .navbar-nav,
  .cid-rE5v56QSO4 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rE5v56QSO4 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rE5v56QSO4 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rE5v56QSO4 .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rE5v56QSO4 .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rE5v56QSO4 .navbar-collapse.collapsing .navbar-buttons,
  .cid-rE5v56QSO4 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rE5v56QSO4 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rE5v56QSO4 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rE5v56QSO4 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rE5v56QSO4 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rE5v56QSO4 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rE5v56QSO4 .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rE5v56QSO4 .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rE5v56QSO4 .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rE5v56QSO4 .nav-link:hover,
.cid-rE5v56QSO4 .dropdown-item:hover {
  color: #c1c1c1 !important;
}
